# KAG mapcycle;
# maps for capture the flag

mapcycle =
# 4zK
../Mods/Waffle_Balance/Base/Maps/4zK_Stubs1.png;
# 8x
../Mods/Waffle_Balance/Base/Maps/8x_BaldJoyce1.png;
../Mods/Waffle_Balance/Base/Maps/8x_BBiscuit1.png;
../Mods/Waffle_Balance/Base/Maps/8x_Fest_Pass1.png;
../Mods/Waffle_Balance/Base/Maps/8x_Gloryhill1.png;
../Mods/Waffle_Balance/Base/Maps/8x_Grounds1.png;
../Mods/Waffle_Balance/Base/Maps/8x_PorkBuns1.png;
../Mods/Waffle_Balance/Base/Maps/8x_SnitchMerc1.png;
# Asu
../Mods/Waffle_Balance/Base/Maps/Asu_DeadPlateau1.png;
# Biurza
../Mods/Waffle_Balance/Base/Maps/Biurza_My_Hikoboshi1.png;
../Mods/Waffle_Balance/Base/Maps/Biurza_Pervy_Tentacles1.png;
../Mods/Waffle_Balance/Base/Maps/Biurza_Rule_Lawyering1.png;
../Mods/Waffle_Balance/Base/Maps/Biurza_Shimamura1.png;
../Mods/Waffle_Balance/Base/Maps/Biurza_UFO1.png;
# bunnie
../Mods/Waffle_Balance/Base/Maps/bunnie_AkihaRumiho1.png;
../Mods/Waffle_Balance/Base/Maps/bunnie_AlexisLeskinen1.png;
../Mods/Waffle_Balance/Base/Maps/bunnie_courouz1.png;
../Mods/Waffle_Balance/Base/Maps/Bunnie_Elric1.png;
../Mods/Waffle_Balance/Base/Maps/Bunnie_FlatPleasure1.png;
../Mods/Waffle_Balance/Base/Maps/bunnie_HashidaItaru1.png;
../Mods/Waffle_Balance/Base/Maps/bunnie_KiryuMoeka1.png;
../Mods/Waffle_Balance/Base/Maps/bunnie_Lech_Walesa1.png;;